@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti a Domino's!!</h1>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Foto</th>
                <th scope="col">Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Margherita</td>
                <td>
                    Lorem Ipsum is simply dummy text of the printing and                        Lorem Ipsum is simply dummy text of the printing and                      typesetting industry. Lorem Ipsum has been the                           industry's standard dummy text ever since the 1500s, when                    an unknown printer took a galley of type and scrambled                      it to make a type specimen book. It has survived not                    only five centuries, but also the leap into electronic                      typesetting, remaining essentially unchanged. It was                        popularised in the 1960s with the release of Letraset                       sheets containing Lorem Ipsum passages, and more                          recently with desktop publishing software like Aldus                      PageMaker including versions of Lorem Ipsum.
                </td>
                <td><img src="/images/pizza_food_example.jpg" alt="foto pizza" width="250" height="300" /> </td>
                <td>5,00 &euro;</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Capricciosa</td>
                <td>Lorem Ipsum is simply dummy text of the printing and                        Lorem Ipsum is simply dummy text of the printing and                      typesetting industry. Lorem Ipsum has been the                           industry's standard dummy text ever since the 1500s, when                    an unknown printer took a galley of type and scrambled                      it to make a type specimen book. It has survived not                    only five centuries, but also the leap into electronic                      typesetting, remaining essentially unchanged. It was                        popularised in the 1960s with the release of Letraset                       sheets containing Lorem Ipsum passages, and more                          recently with desktop publishing software like Aldus                      PageMaker including versions of Lorem Ipsum.</td>
                <td><img src="/images/pizza_food_example.jpg" alt="foto pizza" width="250" height="300" /></td>
                <td>7,50 &euro;</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Bufala</td>
                <td>Lorem Ipsum is simply dummy text of the printing and                        Lorem Ipsum is simply dummy text of the printing and                      typesetting industry. Lorem Ipsum has been the                           industry's standard dummy text ever since the 1500s, when                    an unknown printer took a galley of type and scrambled                      it to make a type specimen book. It has survived not                    only five centuries, but also the leap into electronic                      typesetting, remaining essentially unchanged. It was                        popularised in the 1960s with the release of Letraset                       sheets containing Lorem Ipsum passages, and more                          recently with desktop publishing software like Aldus                      PageMaker including versions of Lorem Ipsum.</td>
                <td><img src="/images/pizza_food_example.jpg" alt="foto pizza" width="250" height="300" /></td>
                <td>8,50 &euro;</td>
            </tr>
        </tbody>
    </table>

</div>
